# Supabase Configuration
VITE_SUPABASE_URL=https://ujrbmxwobrpkpsyktpqi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqcmJteHdvYnJwa3BzeWt0cHFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzNDc4MjYsImV4cCI6MjA4NjkyMzgyNn0.Xv-2x3suqcs9NZdVADdXfudQcY5UizWnRNmPwwfDNKE
